<!-- welcome modal -->
<div class="modal fade" id="welcomeModal" tabindex=-"-1" role="dialog" area-labelledby"myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onclick="cancelAddImpact();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">{{ flatblock.header }}</h3>
      </div>
      <div class="modal-body">
        {{ flatblock.content|safe }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
